* {
    margin: 0;
    padding: 0;
}

header {

    height: 80px;
    background-color: #1b263b;
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color:white;


}
.cercle{
    width: 85px;
    margin-left: 1%;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
}
.cercle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40%;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    list-style: none;
}

.navbar i {
    margin-right: 7%;
    margin-top: 2%;
}

.cardet {
    background: url(../monprojet/assets/imadew.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: 1350px;
}

.cart {
    float: right;
    margin-right: 20%;
    color: white;
    font-weight: bold;
    margin-top: 9%;
}
.carton{
    color: white;
    font-weight: bold;
    font-size: 58px;
}
.but {
    background-color:#1b263b;
    color: white;
    border-radius: 18px;
    width: 100px;
    height: 30px;
}

.container {

    display: inline-flex;
    width: 1350px;
    height: 85px;
    background-color: #1b263b;
    gap: 9%;
    justify-content: center;

}

.img p {
    align-items: center;
    color: white;
    text-align: center;
}

.image h1 {
    text-align: center;
    font-size: 30px;
    color: wheat;
    margin-top: 2%;
}

.icon-truck {
    align-items: center;
    margin-left: 34%;
    color: yellow;
}

.icon-user {
    margin-left: 34%;
    color: black;
    background-color: none;

}

.icon-facebook {
    margin-left: 34%;
    color: blue;
}

.icon-phone-square {
    margin-left: 38%;
    color: green;
}

.button{
  padding: 8px;;
}
 #image{
    width: 1350px;
    height: 700px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.842);
 } 
#image h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 2%;
}

.contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
}
.products-card{
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0,1);
    transition: transform 0.2s;
}
.product-card img{
    width: 100%;
    height: 100%;
}
.product-card h2 {
    font-size: 19px;
}
.button h3 {
    font-size: x-large;
    margin-top: 5px;
}

.button p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6px;
    color: aqua;
    line-height: 1.5;
}

.counte {
    background: url(../monprojet/assets/image\ m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1350px;
    height: 450px;
    background-size: 1350px;
    margin-top: 5%;
}

.contq{
    font-size: 32px;
    float: right;
    margin-top: 10%;
    margin-right: 14%;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.contq button{
    background-color: #1b263b;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 17px;
}
.h2 {
    color: black;
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

footer {
    background-color: #1b263b;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.2%;
    gap: 10px;
  text-align: center ;
  color: white;
}

.span .icon-linkedin {

    margin-left: 20px;
    color: mediumslateblue;
}

.span .icon-phone {
    margin-left: 20px;
    color: green;
}

.span .icon-heart-o {
    margin-left: 20px;
    color: red;
}

.span .icon-bell {
    margin-left:10%;
    color: blue;
}